@import './variables.scss';

header {
    background-color: $main-mid;
    color: $main-light;
    margin: 0;
}

.site_logo {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'eb garamond', serif;
    text-align: center;
}

// Tablet Styles

@media (min-width: 768px) {
    .site_logo {
        font-size: 2.5rem;
    }
}

// Desktop Styles

@media (min-width: 1024px) {
    .site_logo {
        font-size: 3rem;
    }
}
